html 
{
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.clock
{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.788) 25px;
    outline: solid rgba(0, 0, 0, 0.107) 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    position: relative;
    z-index: 5;
}

.clock-face
{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 50%;
    border: solid rgba(80, 80, 80, 0.792) 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hand
{
    top: 50%;
    width: 40%;
    left: 10%;
    position: absolute;
    height: 6px;
    background-color: black;
    transform-origin: 100%;
    transition: all 0.05s;
    box-shadow: 0px 0px 10px black;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0, 1.8, 0.44, 0.94);
}

.hour-hand 
{
    background-color: rgb(255, 255, 255);
}

.circle 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: black;
    box-shadow: 0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleII
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 20px white;
}